.foam-placeholder-link {
  color: var(--vscode-editorWarning-foreground);
  cursor: default;
}

.foam-note-link,
.foam-attachment-link {
  color: var(--vscode-textLink-foreground);
}

.foam-tag {
  color: var(--vscode-editorLineNumber-foreground);
}

.foam-cyclic-link-warning {
  background-color: var(--vscode-editorError-background);
  color: var(--vscode-editorError-foreground);
}
