.foam-placeholder-link {
  color: var(--vscode-editorWarning-foreground);
  cursor: default;
}

.foam-note-link,
.foam-attachment-link {
  color: var(--vscode-textLink-foreground);
}

.foam-tag {
  color: var(--vscode-editorLineNumber-foreground);
}

.foam-cyclic-link-warning {
  background-color: var(--vscode-editorError-background);
  color: var(--vscode-editorError-foreground);
}

.embed-container-note {
  padding: 0.5em;
  margin: 1.5em 0;
  border: 1px solid var(--vscode-editorLineNumber-foreground);
}

.embed-container-attachment {
  padding: 0.25em;
  margin: 1.5em 0;
  text-align: center;
  border: 1px solid var(--vscode-editorLineNumber-foreground);
}

.embed-container-image {
  margin: auto;
  padding: 0.25em;
  text-align: center;
}

.foam-query {
  font-family: 'Sansation';
  color: #f00;
}