name: Test foam-vscode

on:
  pull_request:
    paths:
      - 'packages/foam-vscode/**'
  push:
    paths:
      - 'packages/foam-vscode/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1

      - name: Install dependencies
        run: yarn

      - name: Lint foam-vscode
        run: yarn workspace foam-vscode lint
      - name: Test foam-vscode
        run: yarn workspace foam-vscode test
      # - name: Publish foam-vscode
      #   if: github.ref == 'refs/heads/master'
      #   run: yarn workspace foam-vscode publish-extension
      #   with:
      #     vsce_token: ${{ secrets.VSCE_TOKEN }}
